@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>User List</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: userList -->
            <tr>
                <td data-bind="text: $data.Id"></td>
                <td data-bind="text: $data.UserName"></td>
                <td data-bind="if: $data.UserName != '@User.Identity.Name'"><a data-bind="click: DeleteUser.bind($data)" class="fa fa-trash fa-lg"></a></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}
else
{
    <h2>Please login or register to view the user list.</h2>
}

@section Scripts {
    @Scripts.Render("~/Scripts/knockout-3.5.0.js")
    @Scripts.Render("~/Scripts/userlist.js")
}

@section Styles {
    @Styles.Render("~/Content/font-awesome.min.css")
}